@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Clash Display";
    src: url("font/ClashDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: "Clash Display";
    src: url("font/ClashDisplay-Medium.ttf");
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: "Clash Display";
    src: url("font/ClashDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal; 
}

h1, h2, h3  {
    font-family: "Clash Display", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}